<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CyberNexus</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/profile">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create-chat-room">Créer un Salon</a> <!-- Nouveau lien ajouté ici -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Desconectar</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h1>Bienvenido, <span th:text="${user.username}"></span>!</h1>
    <p>Explora los salones de chat disponibles:</p>

    <a href="/create-chat-room" class="btn btn-primary mb-4">Créer un nouveau salon</a> <!-- Ajoutez ce lien -->

    <div class="row">
        <div th:each="chatRoom : ${chatRooms}" class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title" th:text="${chatRoom.name}"></h5>
                    <p class="card-text" th:text="${chatRoom.description}"></p>
                    <a th:href="@{/chat/{id}(id=${chatRoom.id})}" class="btn btn-primary">Joindre salon</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
