<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/index">CyberNexus</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Déconnecter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Bienvenue, <span th:text="${user.username}"></span>!</h1>
        <p class="lead">Explorez les salons de chat disponibles</p>
        <a href="/create-chat-room" class="btn btn-light btn-lg mt-3">Créer un nouveau salon</a>
    </div>
</header>

<div class="container mt-5">
    <div class="row">
        <div th:each="chatRoom : ${chatRooms}" class="col-md-6 col-lg-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-lg w-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center" th:text="${chatRoom.name}"></h5>
                    <p class="card-text text-muted text-center" th:text="${chatRoom.description}"></p>
                    <div class="mt-auto text-center">
                        <a th:href="@{/chat/{id}(id=${chatRoom.id})}" class="btn btn-primary mb-2 w-75">Joindre le salon</a>
                        <div th:if="${chatRoom.createdBy.id == user.id}">
                            <form th:action="@{/chat-room/delete/{id}(id=${chatRoom.id})}" method="post" style="display: inline;">
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                                <button type="submit" class="btn btn-outline-danger w-75">Supprimer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
